body {
    padding: 60px 10px 10px;
}

.console {
    font-size: 18px;
    font-family: Courier;
    display: inline;
}
.modebar {
    display: inline;
    float: right;
    clear: right;
}
a {
  color: #00B7FF;
}
ul {
    list-style-type: none;
}

form {
    margin:0px;
}


.rules li {
    clear: both;
    height: 40px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.removable {
    cursor: pointer;
    margin-bottom: 4px;
}

.removable [class^="icon-"]{
    display: none;
}

.removable:hover [class^="icon-"] {
    display: inline-block;
}

