body {
    padding: 60px 20px 20px;
}

.console {
    font-size: 18px;
    font-family: Courier;
}
a {
  color: #00B7FF;
}



.removable {
    cursor: pointer;
}

.removable [class^="icon-"]{
    display: none;
}

.removable:hover [class^="icon-"] {
    display: inline-block;
}