<div ng-controller='commandController'>
    <h1>Rule Definitions</h1>



    <form class='form-horizontal' ng-submit='updateRule()'>
        <fieldset class='control-group'>
            <input class='input-xlarge console span8' type='text' ng-model='text'> </input>
        </fieldset>
    </form>
    <div style='{{hasRule()}}'>
        <div>
            <span class='label label-important'>Name:</span> <span style='font-size:14px; font-weight:bold;'> {{currentRule.name}} </span>
        </div>
        <div>
            <span class='label label-info'> Attributes</span>
            <ul>
                <li class='removable' ng-repeat='(key, value) in currentRule.attributes'>
                    <div class="removable"> {{key}} : {{value}} <i class='icon-remove'></i></div>
                </li>
            </ul>
        </div>
        <span class='label label-success'>IF</span>
        <ul>
            <li ng-repeat='condition in currentRule.conditions'>
                {{condition}}
            </li>
        </ul>
        <span class='label label-success'>THEN </span>
        <ul>
            <li ng-repeat='action in currentRule.actions'>
                {{action}}
            </li>
        </ul>
        <span class='label label-info'>Comments:</span>

        <div class='well'>
            {{currentRule.comment}}
        </div>
    </div>
    <!-- display the rule-->
    <div>
        <ul>
            <li ng-repeat='rule in rules'>
                <div>
                    <div> <span>{{rule.name}}</span>
                        <span>
                        <i class="icon-eye-open"></i>
                        <i class="icon-edit"></i>
                        <i class="icon-remove"></i>
                    </span></div>
                </div>
            </li>
        </ul>
    </div>
    <!--<table class='table condensed'>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='rule in rules'>
            <td>.</td>
            <td>{{rule.name}}</td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-primary" >Details</button>
                <button class="btn btn-danger" >Delete</button>
            </td>
        </tr>
        </tbody>
    </table>-->
</div>