<div class="span8 well" ng-controller='ruleController'>
    <form class='form-horizontal span8' ng-submit='applyEditContext()'>
        <fieldset class='control-group'>
            <div class="btn-toolbar">
                <a class="btn btn-small btn-primary" ng-click='newRule()'>New Rule</a>
                <a ng-show='currentRule && currentRule.isModified()' ng-click='addRule()'
                   class="btn btn-small btn-success">Save Rule</a>
            </div>
            <div class='input-prepend' ng-show='currentContext'>
                <input key-press='{27: "discardContext($event)"}' class='input-xlarge console span7' type='text' ng-model='currentContext.text'> </input>
                <a ng-click='applyEditContext()'>
                    <i class="icon-ok" ng-show='currentContext.text && currentContext.text.length >0'></i>
                </a>
                <a ng-click='discardEditContext()'>
                    <i class="icon-remove" ng-show='currentContext.text && currentContext.text.length >0'></i>
                </a>
            </div>
            <div class='btn-toolbar'>

                <div ng-init='attrCommand="@"' class="btn-group" style="display: inline;" ng-show='currentRule'>
                    <a class="btn btn-small btn-info"
                       ng-class='activeForMode(attrCommand)'
                       ng-click='switchRuleMode(attrCommand)'
                       style="font-family: Courier New; font-weight: bold;  font-size: 14px;">{{attrCommand}}</a>

                    <a ng-init='commentCommand="-"' class="btn btn-small btn-info"
                       ng-class='activeForMode(commentCommand)'
                       ng-click='switchRuleMode(commentCommand)'
                       style="font-family: Courier New; font-weight: bold; font-size: 14px;">{{commentCommand}}</a>

                    <a ng-init='conditionCommand="?"' class="btn btn-small btn-success"
                       style="font-family: Courier New; font-weight: bold;  font-size: 14px;"
                            ng-click='switchRuleMode(conditionCommand)'
                            ng-class='activeForMode(conditionCommand)'>{{conditionCommand}}</a>
                    <a ng-init='actionMode="!"' class="btn btn-small btn-success"
                       ng-click='switchRuleMode(actionMode)'
                       ng-class='activeForMode(actionMode)'
                       style="font-family: Courier New; font-weight: bold;  font-size: 14px;">!</a>
                </div>
            </div>
        </fieldset>
    </form>
    <div ng-show='currentRule'  style="bottom: 0px;">
        <div class="span6" style='clear: both;'>
            <span class='label label-important'>Name:</span>
            <ul ng-show='currentRule.name'>
                <li style="margin-bottom: 4px; position: relative;" class="span6 alert alert-error removable">
                    {{currentRule.name}}
                    <div style=" height: 14px; position: absolute; top:4px; right: 4px;">
                        <a ng-click='editTitle()'> <i class="icon-edit"></i></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="span6" style="clear: both;">
            <span class='label label-info'> Attributes</span>
            <ul>
                <li class='removable' ng-repeat='(key, value) in currentRule.attributes'>
                    <div class="removable"> <h5>{{key}} : {{value}} </h5>
                        <a ng-click='currentRule.removeAttribute(key)'><i class='icon-remove'></i></a></div>
                </li>
            </ul>
        </div>
        <div class="span6" style="clear:both;">
            <span class='label label-success'>IF</span>
            <ul>
                <li class='alert removable alert-success span6' ng-repeat='condition in currentRule.conditions' style="position: relative;">
                    {{condition.text}}
                    <div style=" height: 14px; position: absolute; top:4px; right: 4px;">
                        <a  ng-click='currentRule.removeCondition(condition)'> <i class="icon-remove"></i></a>
                        <a ng-click='editCondition(condition)'> <i class="icon-edit"></i></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="span6" style="clear:both;">
            <span class='label label-success'>THEN </span>
            <ul>
                <li class="alert removable alert-success span6" ng-repeat='action in currentRule.actions' style='position:relative;'>
                    {{action.text}}
                    <div style=" height: 14px; position: absolute; top:4px; right: 4px;">
                        <a  ng-click='currentRule.removeAction(action)'> <i class="icon-remove"></i></a>
                        <a ng-click='editAction(action)'> <i class="icon-edit"></i></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="span6" style="clear:both;">
            <span class='label label-info'>Comments:</span>
            <div style="margin-top: 8px">
                <ul>
                    <li class='alert removable alert-info span6' style="position:relative;"
                        ng-repeat='comment in currentRule.comments | limitTo:limit'>
                        <h5 class="alert-heading">by {{comment.author}} on: {{comment.date| date:'fullDate'}}</h5>
                        {{comment.text}}
                        <div style=" height: 14px; position: absolute; top:4px; right: 4px;">
                            <a ng-click='currentRule.removeComment(comment)'> <i class="icon-remove"></i></a>
                            <a ng-click='editComment(comment)'> <i class="icon-edit"></i></a>
                        </div>
                    </li>
                </ul>
                <a class="btn btn-mini" ng-show='currentRule.comments.length >1' ng-click='showAllComments()'>{{commentsDetailBtn}}</a>
            </div>
        </div>
    </div>

</div>
<div class="span4" style="position:absolute; right:0px;" ng-controller='listController'>
    <input style="margin-left: 23px;" type="text" ng-model='searchQuery'>
    <ul class='rules' ng-init='repoRules = rules.values()'>
        <li class='thumbnail removable' ng-repeat='rule in repoRules | filter:searchQuery'>
            {{rule.name}}
            <a href="/rules/remove/{{rule.attributes.id}}">
                <i class="icon-eye-open"></i>
            </a>
            <a ng-click="updateArtifact(rule)">
                <i class="icon-edit"></i>
            </a>
            <a ng-click="removeArtifact(rule)"> <i class="icon-remove"></i></a>
        </li>
    </ul>

</div>
