<div class="span8" ng-controller='ruleController'>
    <form class='form-horizontal span8' ng-submit='updateRule()'>
        <fieldset class='control-group'>
            <input class='input-xlarge console span8' type='text' ng-model='text'> </input>
            <div class='btn-toolbar'>

                    <a class="btn btn-small" ng-click='newRule()'>new</a>
                    <a ng-show='currentRule && currentRule.isModified()' ng-click='addRule()' class="btn btn-small btn-success">add</a>

            </div>
        </fieldset>
    </form>
    <div ng-show='currentRule'>
        <div class="span6" style='clear: both;'>
            <span class='label label-important'>Name:</span>
            <ul ng-show='currentRule'>
                <li style="margin-bottom: 4px;" class="span6 alert alert-error">{{currentRule.name}}</li>
            </ul>
        </div>
        <div class="span6" style="clear: both;">
            <span class='label label-info'> Attributes</span>
            <ul>
                <li class='removable' ng-repeat='(key, value) in currentRule.attributes'>
                    <div class="removable"> {{key}} : {{value}}
                        <a ng-click='currentRule.removeAttribute(key)'><i class='icon-remove'></i></a></div>
                </li>
            </ul>
        </div>
        <div class="span6" style="clear:both;">
            <span class='label label-success'>IF</span>
            <ul>
                <li class='alert removable alert-success span6' ng-repeat='condition in currentRule.conditions'>
                    {{condition}}
                    <a ng-click='currentRule.removeCondition(condition)'><i class='icon-remove'></i></a>
                </li>
            </ul>
        </div>
        <div class="span6" style="clear:both;">
            <span class='label label-success'>THEN </span>
            <ul>
                <li class="alert removable alert-success span6" ng-repeat='action in currentRule.actions'>
                    {{action}}
                </li>
            </ul>
        </div>
        <div class="span6" style="clear:both;">
            <span class='label label-info'>Comments:</span>

            <div style="margin-top: 8px">
                <ul>

                    <li class='alert removable alert-info span6' style="position:relative;"
                        ng-repeat='comment in currentRule.comments | limitTo:limit'>
                        {{comment}}
                        <div style=" height: 14px; position: absolute; top:4px; right: 4px;">
                            <a> <i class="icon-remove"></i></a>
                            <a> <i class="icon-edit"></i></a>
                        </div>
                    </li>
                </ul>
                <a class="btn btn-mini" ng-show='currentRule.comments.length >1' ng-click='showAllComments()'>{{commentsDetailBtn}}</a>
            </div>
        </div>
    </div>

</div>
<div class="span4" style="position:absolute; right:0px;" ng-controller='listController'>
    <input style="margin-left: 23px;" type="text" ng-model='searchQuery'>
    <ul class='rules' ng-init='repoRules = rules.values()'>
        <li class='thumbnail removable' ng-repeat='rule in repoRules | filter:searchQuery'>
            {{rule.name}}
            <a href="/rules/remove/{{rule.attributes.id}}">
                <i class="icon-eye-open"></i>
            </a>
            <a ng-click="updateArtifact(rule)">
                <i class="icon-edit"></i>
            </a>
            <a ng-click="removeArtifact(rule)"> <i class="icon-remove"></i></a>
        </li>
    </ul>

</div>
